.DS_Store
Thumbs.db
db.json
*.log
node_modules/
themes/landscape
themes/next/test
themes/next/source/vendors/
themes/next/source/js/
themes/next/source/images/
themes/next/source/fonts/
themes/next/scripts
themes/next/*.*
!themes/next/_config.yml
scaffolds/
.deploy*/
*~
package.json
public/

# Ignore unused verdors' files
themes/next/source/vendors/fancybox/*
!themes/next/source/vendors/fancybox/source/

themes/next/source/vendors/font-awesome/less/
themes/next/source/vendors/font-awesome/scss/

themes/next/source/vendors/ua-parser-js/*
!themes/next/source/vendors/ua-parser-js/dist/